[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fluent-syntax = {editable = true,git = "https://github.com/projectfluent/python-fluent",ref = "d28bc14fa0c8ae336df55018031654e43229a945",subdirectory = "fluent.syntax"}
fluent-runtime = {editable = true,git = "https://github.com/projectfluent/python-fluent",ref = "d28bc14fa0c8ae336df55018031654e43229a945",subdirectory = "fluent.runtime"}
pyqt5 = "*"

[requires]
python_version = "3.7"
